.recognition-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #333237;
}

.recognition-container a {
    position: absolute;
    font-size: 26px;
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.close-camera {
    position: absolute;
    height: 30px;
    right: 6px;
    top: 6px;
    cursor: pointer;
}

.photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.appvideo{
    top: 80px;
    position: absolute;
    display: flex;
    align-items: center;
}

.appcanvas{
    position: absolute;
    top: 100px;
}

.myapp{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn-verify{
   position: absolute;
   bottom: 30px;
}

.photo-default{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 350px;
    background-color: rgba(240, 248, 255, 0.322);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-default{
    height: 80px;
}

.loading {
    position: absolute;
    align-self: center;
    height: 50px;
    animation: spin 1.4s linear infinite;
    z-index: -1;
}

.btn-retake-photo{
    position: absolute;
    align-self: flex-end;
    bottom: -25px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}