.recognition-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
    display: flex;
    justify-content: center;
}

.recognition-container a {
    position: absolute;
    font-size: 26px;
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
}

.loading{
    position: absolute;
    top: 0;
    font-size: 25px;
    color: white;
}

.close-camera {
    position: absolute;
    height: 30px;
    right: 6px;
    top: 6px;
    cursor: pointer;
}

.photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.appvideo{
    top: 80px;
    position: absolute;
    display: flex;
    align-items: center;
}

.appcanvas{
    position: absolute;
    top: 100px;
}

.myapp{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn-verify{
   position: absolute;
   bottom: 30px;
}