@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    font-size: 16px;
}

body {
    background: #333237;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    padding: 0;
}

.app {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}


.btn {
    background: linear-gradient(to right, #f5af19, #f12711);
    border: none;
    color: white;
    font-weight: 700;
    padding: 15px 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
}

.btn:hover {
    background: linear-gradient(to right, #f7b733, #fc4a1a);
}

@media (max-width: 466px) {
    .btn{
        margin: 20px 20px 0 20px;
    }
}